@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   

    <meta name="viewport" content="width=device-width" />
    <title> SITE 4° BIMESTRE </title>
    <link href="~/CSS/batata.css" rel="stylesheet" />
 
</head>
<body>
    
    <div class="alinhar">

        <button style="font-size:24px" onclick="topFunction()" id="subir" >  <i class="fa fa-angle-up"></i> </button>

        <div class="blocobarra">
            <div class="home"></div>

            <div class="blocohome">

                <div class="limo">LIM<span style="color:#fb606c; margin-left:0px;">O</span> </div>

                <ul style="list-style-type:none">
                    <div class="menu">

                        <li><a class="home" href="#home"> HOME </a></li>

                        <li><a href="#" class="about"> ABOUT US </a></li>

                        <li><a class="about" href="~/home/batman" > BLOG </a></li>

                        <li><a class="about" href="~/home/xampson" > GALLERY </a></li>

                        <li><a class="about" href="~/home/nani"> CONTACTS </a></li>
                    </div>

                </ul>
            </div>
        </div>

        
        <div class="imagem1"> </div>
        
            <div class="texto1">LUXURY. </div>
        <div class="texto2"> PROFESSIONAL LIMO SERVICES </div>



        <div class="barrabarra">
            <button onclick="" class="barra1"> </button>
            <button onclick="" class="barra2"> </button>
            <button onclick="" class="barra2"> </button>
        </div>
   
        <div class="fundop"> </div>

        <div class="blocot">
            <div class="textoc">Corporate </div>
           <div class="numero">01 </div>
            <div class="blocodotb">
                <div class="textob">We specialize in corporate ground transportation for the discerning and demanding business clients. </div>
            </div>
            <div class="more">MORE INFO </div>

        </div>



        <div class="blocot2">
            <div class="textoc">Airport </div>
            <div class="numero">02 </div>
            <div class="blocodotb">
                <div class="textob">We offer airport transportation services, airport ground transportation, airport limo services to all local airports. </div>
            </div>
            <div class="more">MORE INFO </div>

        </div>


        <div class="blocot3">
            <div class="textoc">Wedding </div>
            <div class="numero">03 </div>
            <div class="blocodotb">
                <div class="textob">With our fleet of limousines, super-stretch limos, and luxury sedans, we can satisfy any wedding transportation needs. </div>
            </div>
           
                <div class="more">MORE INFO </div>
        </div>

        <div class="barradnv"> </div>
        <div class="barradnv2"> </div>
        <div class="barradnv3"> </div>
        <div class="barradnv4"> </div>
        <div class="barradnv5"> </div>
        <div class="barradnv6"> </div>

        <div class="carro1"> </div>

        <div class="hello">Hello </div>
        <div class="textokd">Welcome to Limo! Whether you need chauffeured transportation for the airport, cruise ship terminals, or for a special occasion, our Limousine Service has the exact solution to meet your specific transportation needs.</div> 
        
        <div class="barradnv7"> </div>
        <div class="barradnv8"> </div>

        <div class="more1">MORE INFO </div>

        <div class="carro2"> </div>

        <div class="textoc2"> Vehicles</div>

        <div class="blocon">
            <div class="number">01 </div>
            <div class="barrinha"> </div>
           <div class="textonumber"> Luxury Sedans</div>
        </div>

        <div class="blocon2">
            <div class="number">02 </div>
            <div class="barrinha"> </div>
            <div class="textonumber"> Stretched Limousines</div>
        </div>

        <div class="blocon3">
            <div class="number">03 </div>
            <div class="barrinha"> </div>
            <div class="textonumber"> Vans</div>
        </div>

        <div class="blocon4">
            <div class="number">04 </div>
            <div class="barrinha"> </div>
            <div class="textonumber"> Stretched SUVs</div>
        </div>

        <div class="blocon5">
            <div class="number">05 </div>
            <div class="barrinha"> </div>
            <div class="textonumber"> Vans</div>
        </div>

        <div class="blocon6">
            <div class="number">06 </div>
            <div class="barrinha"> </div>
            <div class="textonumber"> Mini Buses</div>
        </div>

        <div class="blocon7">
            <div class="number">07 </div>
            <div class="barrinha"> </div>
            <div class="textonumber"> Luxury Limo Buses</div>
        </div>


        <div class="more2">MORE INFO </div>

        <div class="barradnv9"> </div>
        <div class="barradnv10"> </div>

        <div class="carro3"> </div> 
        <div class="textoc3"> Mission</div>
        <div class="textokd1"> Our mission is to provide you with the highest quality limousine services, the most professional chauffeurs and the newest vehicles available in our state. </div> 
        <div class="more3">MORE INFO </div>

        <div class="barradnv11"> </div>
        <div class="barradnv12"> </div>

        <div class="carro4"> </div>
        <div class="textoc4"> Contacts</div>
        <div class="textokd2"> 28 Jackson Blvd, Ste 1020 Chicago IL </div>
        <div class="fone">+1 800 559 6580 </div>

        <div class="bb">
            <div class="barradnv9999"> </div>
            <div class="barradnv99999"> </div>
        </div>

        <div class="more4">MORE INFO </div>

        <div class="final1"> Limo © 2017  •</div>
        <div class="final2"> Privacy Policy</div>
       
        <div class="mapa"> </div>

   

            <script>
                window.onscroll = function () { scrollFunction() };

                function scrollFunction() {
                    if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
                        document.getElementById("subir").style.display = "block";
                    } else {
                        document.getElementById("subir").style.display = "none";
                    }
                }

                function topFunction() {
                    document.body.scrollTop = 0;
                    document.documentElement.scrollTop = 0;
                }
            </script>


</body>
</html>
