@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
    

    <meta name="viewport" content="width=device-width" />
    <title> SITE 4° BIMESTRE </title>
    <link href="~/CSS/batman.css" rel="stylesheet" />
</head>
<body>
    
    <div class="alinhar">

        <button style="font-size:24px" onclick="topFunction()" id="subir" title="Go to top">  <i class="fa fa-angle-up"></i> </button>

        <div class="blocobarra">
            <div class="home"></div>

            <div class="blocohome">

                <div class="limo">LIM<span style="color:#fb606c; margin-left:0px;">O</span> </div>

                <ul style="list-style-type:none">
                    <div class="menu">

                        <li><a class="home" href="~/home/batata"> HOME </a></li>

                        <li><a href="#" class="about"> ABOUT US </a></li>

                        <li><a class="about1" href="#home"> BLOG </a></li>

                        <li><a class="about" href="~/home/xampson"> GALLERY </a></li>

                        <li><a class="about" href="~/home/nani"> CONTACTS </a></li>
                    </div>

                </ul>
            </div>
        </div>

        <div class="texto1">From the Blog </div>
        <div class="barradnv1"> </div>
        <div class="barradnv2"> </div>

        <div class="texto2">THE MOST COMMON MISTAKES WHEN MANAGING PERSONAL FINANCES </div>
        <i class="fa fa-calendar" style="font-size:20px;color:#818587;margin-left:85px;margin-top:20px;"></i>
        <div class="data">14.03.2017 </div>

        <div class="carro1g">  </div>
        <div class="textoc1g"> The ability to manage money competently is especially valuable quality in the conditions of financial crisis, when the purchasing power of the population is shrinking, inflation is rising, and currency exchange rates are completely unpredictable. Below are the common mistakes related to money affairs along with financial planning advice to help manage your own finances properly. </div>
        <div class="more">MORE INFO </div>
        <div class="barradnv3"> </div>

        <div class="texto2">THE MAIN OBJECTIVES OF THE MARKETER </div>
        <i class="fa fa-calendar" style="font-size:20px;color:#818587;margin-left:85px;margin-top:20px;"></i>
        <div class="data">14.03.2017 </div>

        <div class="carro2g">  </div>
        <div class="textoc1g"> The modern market is absolutely unpredictable. And yet it lives according to strict laws. The marketers need to be known to achieve maximum results in their business - that is the main task of the marketer. </div>
        <div class="more">MORE INFO </div>
        <div class="barradnv3"> </div>

        <div class="texto2">METHODS OF THE RECRUITMENT </div>
        <i class="fa fa-calendar" style="font-size:20px;color:#818587;margin-left:85px;margin-top:20px;"></i>
        <div class="data">14.03.2017 </div>

        <div class="carro3g">  </div>
        <div class="textoc1g"> Search of staff is not an easy task. According to the departmental heads' of personnel management words, in order to find a personnel who will correspond to the relevant customer needs and requirements, it is necessary to carry out a great job. </div>
        <div class="more">MORE INFO </div>
        <div class="barradnv3"> </div>

        <div class="texto3"> RECENT POSTS </div>

        <div class="carro1p"> </div>
        <div class="textoc1p">THE MOST COMMON MISTAKES WHEN MANAGING PERSONAL FINANCES </div>
      
        <div class="carro2p"> </div>
        <div class="textoc1p">THE MAIN OBJECTIVES OF THE MARKETER </div>

        <div class="carro3p"> </div>
        <div class="textoc1p">METHODS OF THE RECRUITMENT </div>

        <div class="carro4p"> </div>
        <div class="textoc1p">OVERALLS WITH LOGO AS A METHOD OF ADVERTISING </div>

        <div class="carro5p"> </div>
        <div class="textoc1p">RECESSION IS A GOOD OPPORTUNITY TO DEAL A DEATHBLOW TO THE COMPETITORS </div>

        <div class="blocogeral">
            <div class="numero1">1 </div>
            <div class="numero2">2 </div>

        <div class="icone1">
            <i class="fa fa-angle-right" ></i>
        </div>
        <div class="icone2">
            <i class="fa fa-angle-double-right" ></i>
        </div>
            </div>
        <div class="blocofinal">
            <div class="final1"> Limo © 2017  •</div>
            <div class="final2"> Privacy Policy</div>
        </div>



    </div>
        <script>
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
        document.getElementById("subir").style.display = "block";
    } else {
        document.getElementById("subir").style.display = "none";
    }
}

function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;

}
        </script>






    
        
</body>
</html>
