@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width" />
    <title> SITE 4° BIMESTRE </title>
    <link href="~/CSS/xampson.css" rel="stylesheet" />
</head> 
<body>
    <div>
    

        <div class="alinhar">

            <button style="font-size:24px" onclick="topFunction()" id="subir" title="Go to top">  <i class="fa fa-angle-up"></i> </button>

            <div class="blocobarra">
                <div class="home"></div>

                <div class="blocohome">

                    <div class="limo">LIM<span style="color:#fb606c; margin-left:0px;">O</span> </div>

                    <ul style="list-style-type:none">
                        <div class="menu">

                            <li><a class="home" href="~/home/batata"> HOME </a></li>

                            <li><a href="#" class="about"> ABOUT US </a></li>

                            <li><a class="about" href="~/home/batman"> BLOG </a></li>

                            <li><a class="about1" href="#home"> GALLERY </a></li>

                            <li><a class="about" href="~/home/nani"> CONTACTS </a></li>
                        </div>

                    </ul>
                </div>
            </div>

            <div class="fundo"> </div>

            <div class="texto1">Our Gallery </div>
            <div class="barradnv1"> </div>
            <div class="barradnv2"> </div>

            <div class="imagem1"> </div>
            <div class="imagem2"> </div>
            <div class="imagem3"> </div>
            <div class="imagem4"> </div>
            <div class="imagem5"> </div>
            <div class="imagem6"> </div> 
            <div class="imagem7"> </div> 
            <div class="imagem8"> </div>  
            <div class="imagem9"> </div>  
            
            <div class="fundoI"> </div>

            <div class="hello">Tips & Tricks </div>
            <div class="textokd">Here we offer some helpful hints when looking to rent a limo, finding limousine services or limos. On our website you will find some limousine rental tips that have been put together with the efforts of limo owners...</div>

            <div class="barradnv7"> </div>
            <div class="barradnv8"> </div>

            <div class="more1">MORE INFO </div>

            <div class="blocofinal">
                <div class="final1"> Limo © 2017  •</div>
                <div class="final2"> Privacy Policy</div>
            </div>
            

            <script>
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
        document.getElementById("subir").style.display = "block";
    } else {
        document.getElementById("subir").style.display = "none";
    }
}

function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;

}
            </script>

        </div>
</body>
</html>
